/* Responsive adjustments for screens smaller than 768px */
@media (max-width: 768px) {
  #mainNavbar .nav-link {
    font-size: 1.2rem; /* scales down from 24px */
    margin-left: 4px;    /* reduce spacing between links */
    margin-right: 4px;
  }

  #mainNavbar {
    padding: 0.5rem 0.5rem; /* shrink navbar padding */
  }

  .navbar-nav {
    justify-content: center; /* keep buttons centered on small screens */
  }

  .header .main-name {
    font-size: 1.6rem;
    padding: 15px 25px;
  }

  .header .subtitle {
    font-size: 1.2rem; /* scales down from 24px */
  }

  .header-box {
    padding: 20px 30px;
  }

  .header-box .main-title {
    font-size: 2.2rem;
  }

  .header-box .subtitle {
    font-size: 1.2rem;
  }

  .info-section .description-col { /* Center info section text on small screens */
    text-align: center;  /* centers all text inside the column */
  }

  .portfolio-column {
    margin-bottom: 25px;
    font-size: 1.2rem;
  }

  .portfolio-preview h2 {
    font-size: 1.6rem;
  }

  .portfolio-column h4 {
    font-size: 1.2rem;
    padding: 8px 12px;
  }

  .info-section h2 {
    font-size: 1.6rem;
  }

  .info-section p {
  font-size: 1.2rem;
  }

}